<button type="button" {{on "click" this.getUserLocation}}>Geolocate Me!</button>
<button type="button" {{on "click" this.trackUserLocation}}>Track My Location</button>
{{#if this.showLoader}}
  <p>Searching location...</p>
{{/if}}
{{#if this.userLocation}}
  <p>Your geolocation is: {{this.userLocation}}</p>
{{/if}}
